<div class="animated fadeIn">
  <div class="row">
    <div class="form-group col-sm-4">
      <form #timeForm="ngForm">
        <label for="ccyear">Timeframe</label>
        <select name="timeframe" [(ngModel)]="selectedTimeframe">
          <option *ngFor="let timeframe of timeframes" [value]="timeframe.value">
          {{timeframe.name}}
          </option>
        </select>
      </form>

    </div>
</div>
  <!--row Conversion-->
  <div class="card">
    <div class="card-header">
        <strong>Conversion</strong>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                US
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.slc.ebay.com/mg.cgi?datafile=wytwtpfoo.data&vqstart=midnight'><img width='100%' src='http://mg.vip.slc.ebay.com/mg.cgi?datafile=wytwtpfoo.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                UK
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.slc.ebay.com/mg.cgi?datafile=t-n-k1oa1a.data&vqstart=midnight'><img width='100%' src='http://mg.vip.slc.ebay.com/mg.cgi?datafile=t-n-k1oa1a.data&vqstart=midnight&graphonly=1'/></a>

                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                DE
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.slc.ebay.com/mg.cgi?datafile=tuj5vfuk-.data&vqstart=midnight'><img width='100%' src='http://mg.vip.slc.ebay.com/mg.cgi?datafile=tuj5vfuk-.data&vqstart=midnight&graphonly=1'/></a>

                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                AU
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.slc.ebay.com/mg.cgi?datafile=t-n-k1oa1a.data&vqstart=midnight'><img width='100%' src='http://mg.vip.slc.ebay.com/mg.cgi?datafile=t-n-k1oa1a.data&vqstart=midnight&graphonly=1'/></a>

                </div>
            </div>
        </div>
      </div>
  </div>
  <!-- row end -->
  <!--row US/UK Checkout-->
  <div class="card">
    <div class="card-header">
        <strong>US / UK Prox Checkout</strong>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Prox - US checkouts
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=85uk9ezz6s.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=85uk9ezz6s.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Prox US - SBC Redirects
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=cdkj-aa9rs8.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=cdkj-aa9rs8.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Prox - UK Checkouts
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                     <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=q5ub-l18z.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=q5ub-l18z.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Prox UK SBC Redirects
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                     <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=ld-5i6fmes.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=ld-5i6fmes.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>
  </div>
  <!-- row end -->

  <!--row DE Prox Checkout-->
  <div class="card">
    <div class="card-header">
        <strong>DE Prox Checkout</strong>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Prox - US checkouts
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=ym4nkzyo4xl.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=ym4nkzyo4xl.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Prox US - SBC Redirects
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=cdkj-aa9rs8.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=cdkj-aa9rs8.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Prox - UK Checkouts
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                     <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=q5ub-l18z.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=q5ub-l18z.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Prox UK SBC Redirects
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                     <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=ld-5i6fmes.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=ld-5i6fmes.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>
  </div>
  <!-- row end DE prox checkout -->

  <!--row CCS Prox Checkout-->
  <div class="card">
    <div class="card-header">
        <strong>CCS Prox Checkout</strong>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Created Carts
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=gyh2p3rgm.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=gyh2p3rgm.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Completed Carts
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                  <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=n84x7idtx.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=n84x7idtx.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Async Carts Created
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                     <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=aobaf28ta.data&vqstart=midnight'><img width='100%' src='http://mg.vip.ebay.com/mg.cgi?datafile=aobaf28ta.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-header">
                Checkouts Completed By Flow
                <div class="card-actions">
                    <a href="https://wiki.vip.corp.ebay.com/display/SEC/SEC+SRE+Knowledge+Base">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                     <a target='blank' href='https://mg.vip.slc.ebay.com/mg.cgi?datafile=2mau-3xkk.data&vqstart=midnight'><img width='100%' src='https://mg.vip.slc.ebay.com/mg.cgi?datafile=2mau-3xkk.data&vqstart=midnight&graphonly=1'/></a>
                </div>
            </div>
        </div>
      </div>
  </div>
  <!-- row end CCS Prox Checkout-->

    <div class="card-columns col-2">
        <div class="card">
            <div class="card-header">
                Line Chart
                <div class="card-actions">
                    <a href="http://www.chartjs.org">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <base-chart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColours" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></base-chart>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Bar Chart
                <div class="card-actions">
                    <a href="http://www.chartjs.org">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <base-chart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></base-chart>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Doughnut Chart
                <div class="card-actions">
                    <a href="http://www.chartjs.org">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <base-chart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></base-chart>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Radar Chart
                <div class="card-actions">
                    <a href="http://www.chartjs.org">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <base-chart class="chart" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></base-chart>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Radar Chart
                <div class="card-actions">
                    <a href="http://www.chartjs.org">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <a target='blank' href='http://mg.vip.ebay.com/mg.cgi?datafile=85uk9ezz6s.data&vqstart=midnight'><img width="100%" src="http://mg.vip.ebay.com/mg.cgi?datafile=85uk9ezz6s.data&vqstart=midnight&graphonly=1"/></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Pie Chart
                <div class="card-actions">
                    <a href="http://www.chartjs.org">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <base-chart class="chart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></base-chart>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Polar Area Chart
                <div class="card-actions">
                    <a href="http://www.chartjs.org">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                    <base-chart class="chart" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></base-chart>
                </div>
            </div>
        </div>
    </div>
</div>
