<div *ngIf="isDataAvailable">
<div class="animated fadeIn">

    <!--/row-->
    <div class="card">
        <div class="card-block">
              <div class="input-prepend input-group">
                  <span class="input-group-addon"><i class="fa fa-search"></i>
                  </span>
                  <input id="prependedInput" class="form-control" size="16" type="text" placeholder="What are you looking for?">
                  <span class="input-group-btn">
                      <button class="btn btn-info" type="button">Search</button>
                  </span>
              </div>
        </div>
    </div>
    <!--/row-->
    <div class="card">
      <div class="card-header">
          <strong>Domains</strong>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-header card-header-inverse card-header-primary">
                    <div class="font-weight-bold">
                        <span>Checkout</span>

                    </div>

                    <div class="chart-wrapper">
                      <comment-list></comment-list>
                      <!--
                      <base-chart class="chart" [datasets]="lineChart4Data" [labels]="lineChart4Labels" [options]="lineChart4Options" [colors]="lineChart4Colours" [legend]="lineChart4Legend" [chartType]="lineChart4Type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
                      style="height:38px;"></base-chart>
                    -->

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="card">
      <div class="card-header">
          <strong>Features</strong>


      </div>
    </div>
    <div class="row">

    </div>
</div>
</div>
